@mixin controls {
    .controls {
        .control {
            display: grid;
            grid-template: 1fr / 1fr 2fr;

            align-items: center;

            .label {
                grid-column: 1 / 2;
                margin: 0;
                padding: 0;
            }

            .value {
                grid-column: 1 / 3;
                margin: 0;
                padding: 0;
            }

            .label + .value {
                grid-column: 2 / 3;
            }
        }
    }
}

@mixin article-area {
    margin: 20px 0;

    header {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

@mixin full-size {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
