$backgroundDefault: #f0f0f0;
$backgroundHighlight: #e5e5e5;
$backgroundSelected: #d5d5d5;

$themeColorDefault: rgb(120, 201, 177);
$themeColorHighlighted: rgba(120, 201, 177, 0.5);

$textColor: black;
$textMuted: #aaa;

$recordColor: red;

$elUiBorderColor: #dcdfe6;
