body {
    margin: 20px;

    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

button {
    border-radius: 0;
    outline: 0;
    border: 0;

    color: $buttonColor;
    background-color: $backgroundDefault;

    padding: 10px 20px;

    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        color: $buttonHighlightColor;
        background-color: $backgroundHighlight;
    }

    &.active {
        color: $buttonHighlightColor;
        background-color: $themeColorDefault;

        &:hover {
            color: $buttonColor;
            background-color: $themeColorHighlighted;
        }
    }

    &.no-highlight {
        background-color: $backgroundDefault !important;

        &:hover {
            background-color: $backgroundHighlight !important;
        }
    }

    &.is-disabled {
        background-color: $backgroundDefault;
        color: $textMuted;

        &:hover {
            cursor: not-allowed;
            background-color: $backgroundHighlight;
        }
    }
}

.el-button.full + .el-button {
    margin-left: 0;
}

.el-input,
.el-select {
    .el-input__inner {
        border-radius: 0;

        &:focus {
            border-color: $elUiBorderColor !important;
        }
    }
}

.el-select-dropdown {
    border-radius: 0;
}

.el-input-number {
    .el-input-number__decrease,
    .el-input-number__increase {
        border-radius: 0;
        border-left: 0;
        border-right: 0;

        color: $textColor;
        background-color: $backgroundDefault;
    }

    .el-input-number__decrease:hover,
    .el-input-number__increase:hover {
        color: $textColor;
        background-color: $backgroundHighlight;
    }

    .el-input {
        line-height: 40px;
    }

    .el-input__inner {
        border-radius: 0;
        border: 0;
    }
}

.custom-label {
    background-color: $backgroundDefault;
    padding: 5px 10px;
    font-size: 0.75rem;

    &.disabled {
        color: $textMuted;
    }

    &.highlight {
        background-color: $recordColor;
        color: white;
    }
}

.el-dialog {
    .el-dialog__header {
        .el-dialog__title {
            font-weight: bold;
        }
    }

    .el-dialog__body {
        padding-top: 0px;

        h1 {
            display: none;
        }
    }
}

.readme-dialog {
    .el-dialog__body {
        padding-top: 0px;

        h1 {
            display: none;
        }
    }
}

.full,
.el-button.full {
    @include full-size;
}
