.sequencer {
    .sequence-controls {
        .play-controls {
            display: grid;
            grid-template: 1fr 1fr / repeat(3, 1fr);

            .bpm {
                grid-row: 1 / 1;
                grid-column: 1 / 4;
                width: 100%;
            }

            .play,
            .stop,
            .tap {
                grid-row: 2 / 2;

                justify-self: center;

                &.active {
                    color: red;
                }
            }

            .tap {
                grid-column: 3 / 4;
            }

            .play {
                grid-column: 1 / 2;
            }

            .stop {
                grid-column: 2 / 3;
            }
        }
    }
}
